extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Аватарка большая';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Аватарка большая

    //- Демонстрация компонента
    .ui-kit__component-demo
        +avatar-big()

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +avatar-big('./../img/avatars/avatar-'test'.png')

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        mixins/avatar-big.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            mixin avatar-big(filePath='./../img/avatars/avatar-test.png')
                .avatar-big
                    img(src= filePath alt="Аватарка")