extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
	- var title = 'UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	include:markdown-it ./markdown-articles/general-recomendations.md