.header {
    width: 600px;
    padding: 50px 25px;
    margin: 0 auto;
    background-color: rgb(65, 230, 128);
    text-align: center;

    @media (min-width: 992px) {
        width: 400px;
    }
}
