.test-button {
    display: inline-block;
    line-height: 1;
    outline: none;
    cursor: pointer;
    text-decoration: none;

    border-radius: 22px;
    background-color: #bbc7d3;

    padding-top: 0.8em; // 14px
    padding-bottom: 0.951em; // 13px
    padding-left: 1.25em; // 20px
    padding-right: 1.25em; // 20px

    color: #ffffff;
    font-family: $baseFont;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;

    &:hover,
    &:focus {
        background-color: #dde8ee;
        text-decoration: none;
        color: #ffffff;
    }

    &:active {
        background-color: #b4dff6;
        text-decoration: none;
        color: #ffffff;
    }
}
