.left-panel.blue-skin
	.left-panel__section
		.left-panel__logo UI-KIT и PUG фреймворк

	.left-panel__section
		.left-panel__title Документация
		.left-panel-nav
			+linkLeftPanel("Документация", "docs.html")
			+linkLeftPanel("Общие рекомендации", "docs-general-recomendations.html")
			+linkLeftPanel("Оформление кода", "docs-codestyle.html")
			+linkLeftPanel("Работа со стилями", "docs-styleguide.html")

	//- Тут будут ссылки на блоки
	.left-panel__section
		.left-panel__title Элементы форм
		.left-panel-nav
			+linkLeftPanel("Тестовая кнопка", "test-button.html")

	//- Тут будут ссылки на блоки
	//- .left-panel__section
	//- 	.left-panel__title Блоки
	//- 	.left-panel-nav

	//- Тут будут ссылки на секции
	//- .left-panel__section
	//- 	.left-panel__title Секции
	//- 	.left-panel-nav

	//- Тут будут ссылки на страницы
	//- .left-panel__section
	//- 	.left-panel__title Страницы
	//- 	.left-panel-nav
